@import '../components/addcoin/addcoin.scss';
@import '../assets/global/css/bootstrap.min.css';
@import '../assets/global/css/bootstrap-extend.min.css';
@import '../assets/global/css/alertify.css';
@import '../assets/css/site.min.css';
@import '../assets/css/progress-bars.css';
@import '../assets/css/dashboard.css';
@import '../assets/css/dashboard-wallet-widgets.css';
@import '../assets/global/vendor/animsition/animsition.min.css';
@import '../assets/global/vendor/asscrollable/asScrollable.min.css';
@import '../assets/global/vendor/jquery-scrollbar/jquery.scrollbar.css';
@import '../assets/global/vendor/switchery/switchery.min.css';
@import '../assets/global/vendor/intro-js/introjs.min.css';
@import '../assets/global/vendor/slidepanel/slidePanel.min.css';
@import '../assets/global/vendor/jquery-labelauty/jquery-labelauty.min.css';
@import '../assets/global/vendor/bootstrap-toastr/toastr.min.css';
@import '../assets/global/vendor/bootstrap-select/bootstrap-select.min.css';
@import '../assets/global/vendor/sweetalert2/sweetalert2.min.css';
@import '../assets/global/vendor/waves/waves.min.css';
@import '../assets/global/vendor/alertify-js/alertify.min.css';
@import '../assets/global/vendor/ladda-bootstrap/ladda.min.css';
@import '../assets/global/vendor/nprogress/nprogress.min.css';
@import '../assets/global/vendor/datatables-bootstrap/dataTables.bootstrap.min.css';
@import '../assets/global/vendor/datatables-fixedheader/dataTables.fixedHeader.min.css';
@import '../assets/global/vendor/datatables-responsive/dataTables.responsive.min.css';
@import '../assets/pages/login.css';
@import '../assets/global/fonts/font-awesome/font-awesome.min.css';
@import '../assets/global/fonts/glyphicons/glyphicons.min.css';
@import '../assets/global/fonts/material-design/material-design.min.css';
@import '../assets/global/fonts/web-icons/web-icons.css';
@import '../assets/global/fonts/brand-icons/brand-icons.min.css';
@import '../assets/skins/orange.min.css';
@import '../../node_modules/rc-tree/assets/index.css';

#app > div {
  height: 100%;
}

.page-main {
  background: #f3f4f5;
}

#kmd_header_button button {
  margin-right: 5px;
}

.widget.active .bg-white {
  box-shadow: inset 1px 1px 10px #ccc;
}

body {
  padding-top: 44px;
}

.login-form,
.register-form {
  width: 540px;
  margin: 30px 0;
}

#section-iguana-wallet-settings .panel-title {
  cursor: pointer;
  cursor: hand;
}

#section-iguana-wallet-settings .panel-title:before {
  content: '\F273';
}
#section-iguana-wallet-settings .panel-title.collapsed:before {
  content: '\F278';
}

#section-dashboard {
  height: 100%;
}

#section-iguana-wallet-settings {
  background: #f3f4f5;
}

#edexcoin_dashboardinfo a,
.nav-top-menu,
#kmd_txid_info_mdl .nav-tabs li,
.pagination a,
.action {
  cursor: pointer;
  cursor: hand;
}

#easydex-header-div {
  background-repeat: no-repeat;
  background-size: 100%;
}

.unselectable {
  user-select: none;
}

.seed-toggle {
  position: absolute;
  right: 0;
  top: 0px;
  cursor: pointer;
  cursor: hand;
}

.radio-custom input {
  cursor: pointer;
  cursor: hand;
}

.collapse {
  overflow: hidden;
  display: block;
}

.collapse-active {
  transition: height 0.3s ease-out;
}

.rc-tree {
  height: 450px;
  overflow-y: scroll;
  margin-top: 20px;

  a {
    pointer-events: none;
  }
  li span.rc-tree-iconEle {
    display: none;
  }
}

.rc-tree-node-content-wrapper-close + ul {
  height: 0;
}
.rc-tree-node-content-wrapper {
  user-select: none;
}
.rc-tree-node-content-wrapper-normal {
  color: inherit;
  pointer-events: all;
  user-select: all;
}

#RefreshBasiliskConnectionsMdl .btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.page-aside-inner .wallet-widgets-list {
  overflow-y: auto;
  height: 100%;
}

.display-sync-only-coins-toggle {
  cursor: pointer;
}
.display-sync-only-coins-toggle:hover {
  color: #ffa726;
}

.sync-only-forks {
  color: #757575;

  .modal-body {
    overflow-y: auto;
  }
  .badge.up {
    position: absolute;
    top: 40px;
    left: 65px;
    margin: 0 5px;
  }
  .avatar {
    width: 20%;
    display: inline-block;
    text-align: center;
    vertical-align: top;

    img {
      width: 55px;
      display: inherit;
    }
  }
  .progress-bars {
    padding-left: 40px;
    display: inline-block;
    width: 80%;
    margin: 0 auto;
  }
  .padding-bottom-60:last-child {
    padding-bottom: 0 !important;
  }
}

/*.toaster .single-toast:nth-child(0) {
  bottom: 12px;
}
.toaster .single-toast:nth-child(1) {
  bottom: 102px;
}
.toaster .single-toast:nth-child(2) {
  bottom: 192px;
}
.toaster .single-toast:nth-child(3) {
  bottom: 282px;
}*/