@import '../components/addcoin/addcoin.scss';
@import '../assets/global/css/bootstrap.min.css';
@import '../assets/global/css/bootstrap-extend.min.css';
@import '../assets/global/css/alertify.css';
@import '../assets/css/site.min.css';
@import '../assets/css/progress-bars.css';
@import '../assets/css/dashboard.css';
@import '../assets/css/dashboard-wallet-widgets.css';
@import '../assets/global/vendor/animsition/animsition.min.css';
@import '../assets/global/vendor/asscrollable/asScrollable.min.css';
@import '../assets/global/vendor/jquery-scrollbar/jquery.scrollbar.css';
@import '../assets/global/vendor/switchery/switchery.min.css';
@import '../assets/global/vendor/intro-js/introjs.min.css';
@import '../assets/global/vendor/slidepanel/slidePanel.min.css';
@import '../assets/global/vendor/jquery-labelauty/jquery-labelauty.min.css';
@import '../assets/global/vendor/bootstrap-toastr/toastr.min.css';
@import '../assets/global/vendor/bootstrap-select/bootstrap-select.min.css';
@import '../assets/global/vendor/sweetalert2/sweetalert2.min.css';
@import '../assets/global/vendor/waves/waves.min.css';
@import '../assets/global/vendor/alertify-js/alertify.min.css';
@import '../assets/global/vendor/ladda-bootstrap/ladda.min.css';
@import '../assets/global/vendor/nprogress/nprogress.min.css';
@import '../assets/global/vendor/datatables-bootstrap/dataTables.bootstrap.min.css';
@import '../assets/global/vendor/datatables-fixedheader/dataTables.fixedHeader.min.css';
@import '../assets/global/vendor/datatables-responsive/dataTables.responsive.min.css';
@import '../assets/pages/login.css';
@import '../assets/global/fonts/font-awesome/font-awesome.min.css';
@import '../assets/global/fonts/glyphicons/glyphicons.min.css';
@import '../assets/global/fonts/material-design/material-design.min.css';
@import '../assets/global/fonts/web-icons/web-icons.css';
@import '../assets/global/fonts/brand-icons/brand-icons.min.css';
@import '../assets/skins/orange.min.css';

#app > div {
  height: 100%;
}

.page-main {
  background: #f3f4f5;
}

#kmd_header_button button {
  margin-right: 5px;
}

.widget.active .bg-white {
  box-shadow: inset 1px 1px 10px #ccc;
}

body {
  padding-top: 44px;
}

/*.toaster .single-toast:nth-child(0) {
  bottom: 12px;
}
.toaster .single-toast:nth-child(1) {
  bottom: 102px;
}
.toaster .single-toast:nth-child(2) {
  bottom: 192px;
}
.toaster .single-toast:nth-child(3) {
  bottom: 282px;
}*/