.full-opacity {
  opacity: 1;
}

.display-block {
  display: block;
}

.swal2-modal-container {
  display: block;
  width: 500px;
  padding: 20px;
  margin-left: -250px;
  background: rgb(255, 255, 255);
  margin-top: -230px;
}

button.swal2-confirm-container {
  background-color: rgb(48, 133, 214);
  border-left-color: rgb(48, 133, 214);
  border-right-color: rgb(48, 133, 214);
}

button.swal2-cancel-container {
  display: inline-block;
  background-color: rgb(221, 51, 51);
}

.vertical-padding-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.browser-usage-container {
  color: #424242;
}

.width-540 {
  width: 540px;
}

.vertical-margin-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

textarea.height-100 {
  height: 100px;
}