.add-coin-modal {
  color: #757575;
}

.vertical-margin-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.horizontal-margin-0 {
  margin-left: 0;
  margin-right: 0;
}

.float-none {
  float: none;
}